/* INDEX.HTML */
body {
    background: #f0f0f0;  /* Color de fondo principal (gris claro) */
    background: -webkit-linear-gradient(to right, #f0f0f0, #d3d3d3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f0f0f0, #d3d3d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #333;  /* Color de texto (gris oscuro) */
}


/* contenedor */
.div1{
    background-color: rgb(255, 0, 0);
}
/*talles */
.talle:hover{
    cursor: pointer;
}
/* textTarea */
#Descripcion{
    resize: none;
}

/* TABLA */
.centrado{
    text-align: center;
}
#lista{
    text-align: center;
}

/* INPUTS */
.blanko{
    background-color: rgb(255, 255, 255);
}


